---
# - name: Validate OS
#   assert:
#     that:
#       - ansible_os_family == "RedHat"
#     fail_msg: "Only RedHat based systems are supported"


- name: Set hostname
  ansible.builtin.raw: sudo hostnamectl set-hostname nginxtest

- name: Update all packages
  yum:
    name: "*"
    state: latest

- name: Install Nginx
  yum:
    name: "{{ nginx_packages }}"
    state: present
  notify: restart nginx

- name: Ensure Nginx is enabled and running
  service:
    name: nginx
    state: started
    enabled: true
