plugin: amazon.aws.aws_ec2

regions:
  - us-east-1

filters:
  tag:Tool: vault

keyed_groups:
  - key: tags.Tool
    prefix: tag_Tool

compose:
  ansible_host: instance_id

vars:
  ansible_connection: aws_ssm
  ansible_python_interpreter: /usr/bin/python3

