plugin: amazon.aws.aws_ec2

regions:
  - us-east-1

# Only fetch instances with this specific tag
filters:
  tag:Tool: toolname
  instance-state-name: running

# Use the instance-id as the primary identifier in Ansible
hostnames:
  - instance-id

# Groups hosts by the value of the 'Tool' tag (e.g., tag_Tool_vault)
keyed_groups:
  - key: tags.Tool
    prefix: tag_Tool

compose:
  # This ensures the connection uses the ID even if the display name is different
  ansible_host: instance_id
  ansible_connection: str('aws_ssm')

# These variables are required for the SSM connection to work
# vars:
#   ansible_aws_ssm_region: us-east-1
#   # Make sure this bucket exists and your IAM role has access to it
#   ansible_aws_ssm_bucket_name: my-ansible-transfer-bucket-1312
#   ansible_python_interpreter: /usr/bin/python3