# - name: Validate toolname
#   hosts: localhost
#   gather_facts: false
#   tasks:
#     - assert:
#         that:
#           - toolname is defined
#           - toolname | length > 0
#         fail_msg: "toolname variable must be provided (e.g. -e toolname=vault)"

- name: Install tool "{{ toolname }}"
  hosts: "tag_Tool_{{ toolname }}"
  connection: aws_ssm
  gather_facts: true
  become: true
#  # become: false
  vars:
    ansible_aws_ssm_bucket_name: "my-ansible-transfer-bucket-1312"
    ansible_aws_ssm_region: "us-east-1"


  roles:
    - "{{ toolname }}"



# - name: Install vault
#   hosts: tag_Tool_vault
#   become: true
#   connection: aws_ssm

#   roles:
#     - "{{ toolname }}"

                    
# - name: DEBUG all variables (vault)
#   hosts: tag_Tool_vault
#   connection: aws_ssm
#   gather_facts: false
#   tasks:
#     - debug:
#         var: vars

