- name: Install "{{ toolname }}" 
  hosts: "tag_Tool_vault"
  become: true
  connection: aws_ssm

  roles:
    - "{{ toolname }}"

                    
# - name: DEBUG all variables (vault)
#   hosts: tag_Tool_vault
#   connection: aws_ssm
#   gather_facts: false
#   tasks:
#     - debug:
#         var: vars

