# - name: Validate toolname
#   hosts: localhost
#   gather_facts: false
#   tasks:
#     - assert:
#         that:
#           - toolname is defined
#           - toolname | length > 0
#         fail_msg: "toolname variable must be provided (e.g. -e toolname=vault)"

- name: Install tool
  hosts: tag_Tool_vault
  become: true
  connection: aws_ssm

  vars:
    toolname: "{{ toolname | default('vault') }}"

  roles:
    - vault



# - name: Install vault
#   hosts: tag_Tool_vault
#   become: true
#   connection: aws_ssm

#   roles:
#     - "{{ toolname }}"

                    
# - name: DEBUG all variables (vault)
#   hosts: tag_Tool_vault
#   connection: aws_ssm
#   gather_facts: false
#   tasks:
#     - debug:
#         var: vars

