name: Deploy Terraform AWS VPC-SecurityGroups Pipeline

on:
  workflow_dispatch:
    inputs:
      TERRAFORM_ACTION:
        description: "terraform infra deploy ?"
        required: true
        type: choice
        options:
          - deploy
      Terraform_Environment:
         description: "Choose your environment"
         required: true
         type: choice
         options: 
           - dev
           - qa
           - staging
           - prod
           


jobs:
  job1-terraform-VPC:
    name: "${{ github.event.inputs.TERRAFORM_ACTION }}ing vpc,Subnets,NAT etc"
    runs-on: ubuntu-latest
  #  environment: AWS-devlopment
    
    env:
        AWS_REGION: 'us-east-1'  

    steps:
      # ------------------------------
      # Checkout source code
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v3
      # -------------------------
      # AWS IAM cred
      # -------------------------

      - name: 'Configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@v1
        with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: ${{ env.AWS_REGION }}

      # ------------------------------
      # Setup Terraform
      # ------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ------------------------------
      # Terraform Init
      # ------------------------------
      - name: Terraform Init
        run: |
          cd 01-vpc
          terraform init -reconfigure
      #     terraform init -reconfigure
          

      # ------------------------------
      # Terraform Plan
      # ------------------------------
      - name: Terraform Plan
        run: |
          cd 01-vpc
      
          terraform plan -refresh-only -var="environment=${{ github.event.inputs.Terraform_Environment }}"
          
      # ---------------------------------------------------
      # Terraform Apply (only when TERRAFORMACTION = deploy)
      # ---------------------------------------------------
      - name: Terraform Apply
        if: ${{ github.event.inputs.TERRAFORM_ACTION == 'deploy' }}
        run: |
          
          cd 01-vpc
          terraform apply -var="environment=${{ github.event.inputs.Terraform_Environment }}" -auto-approve
      

  #**********************************************  
  # Terraform Security groups
  # **********************************************
  
  job2-terrafom-securitygroups:
   name: "${{ github.event.inputs.TERRAFORM_ACTION }}ing security groups, creating incoming rules etc"
   runs-on: ubuntu-latest
   needs: job1-terraform-VPC
   
   env:
        AWS_REGION: 'us-east-1'
   
   steps:
      # ------------------------------
      # Checkout source code
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v3
      # -------------------------
      # AWS IAM cred
      # -------------------------

      - name: 'Configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@v1
        with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: ${{ env.AWS_REGION }}
     
      # ------------------------------
      # Setup Terraform
      # ------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ------------------------------
      # Terraform Init
      # ------------------------------
      - name: Terraform Init
        run: |
          cd 02-sg-opt-variables
          terraform init -reconfigure

      # ------------------------------
      # Terraform Plan
      # ------------------------------
      - name: Terraform Plan
        run: |
          cd 02-sg-opt-variables
          terraform plan  -var="environment=${{ github.event.inputs.Terraform_Environment }}"
          
      # ---------------------------------------------------
      # Terraform Apply (only when TERRAFORMACTION = deploy)
      # ---------------------------------------------------
      - name: Terraform Apply
        if: ${{ github.event.inputs.TERRAFORM_ACTION == 'deploy' }}
        run: |
           cd 02-sg-opt-variables
           terraform apply -var="environment=${{ github.event.inputs.Terraform_Environment }}" -auto-approve

