name: Delete Terraform AWS VPC-SecurityGroups Pipeline

on:
  workflow_dispatch:
    inputs:
      TERRAFORM_ACTION:
        description: "Terraform infra delete?"
        required: true
        type: choice
        options:
          - destroy

      Terraform_Environment:
        description: "Choose your environment"
        required: true
        type: choice
        options:
          - dev
          - qa
          - staging
          - prod

permissions:
  id-token: write
  contents: read


jobs:

  # **********************************************
  # Job 1: Destroy Security Groups
  # **********************************************
  job1-terraform-securitygroups:
    name: "Destroying Security Groups"
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1

    steps:
      # Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # OIDC AWS Credentials
      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # Terraform Init
      - name: Terraform Init
        run: |
          cd 02-securitygroups
          terraform init \
            -backend-config="key=sg/${{ github.event.inputs.Terraform_Environment }}/terraform.tfstate" \
            -reconfigure

      # Destroy SGs
      - name: Terraform Destroy (SG)
        if: ${{ github.event.inputs.TERRAFORM_ACTION == 'destroy' }}
        run: |
          echo "Destroying security groups..."
          cd 02-securitygroups
          terraform destroy -var="environment=${{ github.event.inputs.Terraform_Environment }}" -auto-approve


  # **********************************************
  # Job 2: Destroy VPC (depends on SG deletion)
  # **********************************************
  job2-terraform-vpc:
    name: "Destroying VPC, Subnets, NAT etc"
    runs-on: ubuntu-latest
    needs: job1-terraform-securitygroups
    env:
      AWS_REGION: us-east-1  

    steps:
      # Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # OIDC AWS Credentials
      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # Terraform Init
      - name: Terraform Init
        run: |
          cd 01-vpc
          terraform init \
            -backend-config="key=vpc/${{ github.event.inputs.Terraform_Environment }}/terraform.tfstate" \
            -reconfigure

      # Destroy VPC
      - name: Terraform Destroy (VPC)
        if: ${{ github.event.inputs.TERRAFORM_ACTION == 'destroy' }}
        run: |
          echo "Destroying VPC..."
          cd 01-vpc
          terraform destroy -var="environment=${{ github.event.inputs.Terraform_Environment }}" -auto-approve