name: Delete Terraform AWS VPC-SecurityGroups Pipeline

on:
  workflow_dispatch:
    inputs:
      TERRAFORM_ACTION:
        description: "terraform infra delete ?"
        required: true
        type: choice
        options:
          - destroy
      Terraform_Environment:
         description: "Choose your environment"
         required: true
         type: choice
         options: 
           - dev
           - qa
           - staging
           - prod
           


jobs:

            
  #**********************************************  
  # Terraform Security groups
  # **********************************************
  
  job1-terrafom-securitygroups:
   name: "${{ github.event.inputs.TERRAFORM_ACTION }}ing security groups, creating incoming rules etc"
   runs-on: ubuntu-latest
   env:
        AWS_REGION: 'us-east-1'
   
   steps:
      # ------------------------------
      # Checkout source code
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v3
      # -------------------------
      # AWS IAM cred
      # -------------------------

      - name: 'Configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@v1
        with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: ${{ env.AWS_REGION }}
     
      # ------------------------------
      # Setup Terraform
      # ------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ------------------------------
      # Terraform Init
      # ------------------------------
      - name: Terraform Init
        run: |
          cd 02-securitygroups
          terraform init \
          -backend-config="key=sg/${{ github.event.inputs.Terraform_Environment }}/terraform.tfstate" \
          -reconfigure

      

      # ---------------------------------------------------
      # Terraform Destroy (only when TERRAFORMACTION = deletion)
      # ---------------------------------------------------
      - name: Terraform Destroy
        if: ${{ github.event.inputs.TERRAFORM_ACTION == 'destroy' }}
        run: |
          echo "Manual approval required before destroy."
          cd 02-securitygroups
          terraform destroy -var="environment=${{ github.event.inputs.Terraform_Environment }}" -auto-approve

  #**********************************************  
  # Terraform VPC
  # **********************************************

  job2-terraform-VPC:
    name: "${{ github.event.inputs.TERRAFORM_ACTION }}ing vpc,Subnets,NAT etc"
    runs-on: ubuntu-latest
  #  environment: AWS-devlopment
    
    env:
        AWS_REGION: 'us-east-1'  

    steps:
      # ------------------------------
      # Checkout source code
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v3
      # -------------------------
      # AWS IAM cred
      # -------------------------

      - name: 'Configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@v1
        with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: ${{ env.AWS_REGION }}

      # ------------------------------
      # Setup Terraform
      # ------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ------------------------------
      # Terraform Init
      # ------------------------------
      - name: Terraform Init
        run: |
          cd 01-vpc
          terraform init \
          -backend-config="key=vpc/${{ github.event.inputs.Terraform_Environment }}/terraform.tfstate" \
          -reconfigure
   
          
      # ---------------------------------------------------
      # Terraform Destroy (only when TERRAFORMACTION = destroy)
      # ---------------------------------------------------
      - name: Terraform Destroy
        if: ${{ github.event.inputs.TERRAFORM_ACTION == 'destroy' }}
        run: |
            cd 01-vpc
            terraform destroy  -var="environment=${{ github.event.inputs.Terraform_Environment }}" -auto-approve