name: Terraform Security group Pipeline

on:
  workflow_dispatch:
    inputs:
      TERRAFORM_ACTION:
        description: "terraform security creation ? OR deletion ?"
        required: true
        type: choice
        options:
          - creation
          - deletion

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: AWS-devlopment
    env:
        AWS_REGION: 'us-east-1'  

    steps:
      # ------------------------------
      # Checkout source code
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v3
      # -------------------------
      # AWS IAM cred
      # -------------------------

      - name: 'Configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@v1
        with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: ${{ env.AWS_REGION }}

      # ------------------------------
      # Setup Terraform
      # ------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ------------------------------
      # Terraform Init
      # ------------------------------
      - name: Terraform Init
        run: |
          cd 02-sg
          terraform init -reconfigure

      # ------------------------------
      # Terraform Plan
      # ------------------------------
      - name: Terraform Plan
        run: |
          cd 02-sg
          terraform plan
          
      # ---------------------------------------------------
      # Terraform Apply (only when TERRAFORMACTION = creation)
      # ---------------------------------------------------
      - name: Terraform Apply
        if: ${{ github.event.inputs.TERRAFORM_ACTION == 'creation' }}
        run: |
          echo "Manual approval required before apply."
          cd 02-sg
          terraform apply -auto-approve

      # ---------------------------------------------------
      # Terraform Destroy (only when TERRAFORMACTION = deletion)
      # ---------------------------------------------------
      - name: Terraform Destroy
        if: ${{ github.event.inputs.TERRAFORM_ACTION == 'deletion' }}
        run: |
          echo "Manual approval required before destroy."
          cd 02-sg
          terraform destroy -auto-approve
