name: Terraform setup tools Pipeline

on:
  workflow_dispatch:
    inputs:
      ACTION:
        description: "Select terraform action"
        required: true
        type: choice
        options:
          - apply
          - destroy
      TOOL:
        description: "Select terraform target tool to install"
        required: true
        type: choice
        options:
          - vault
          - tomcat

concurrency:
  group: terraform-pipeline
  cancel-in-progress: false   # Same as Jenkins `disableConcurrentBuilds()`
permissions:
  id-token: write
  contents: read

jobs:
  AWS-EC2-Create:
    runs-on: ubuntu-latest

    

    steps:
      # ------------------------------
      # Checkout repository
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v3

      # ------------------------------
      # terraform setup
      # ------------------------------

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # -------------------------
      # AWS IAM cred
      # -------------------------
      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
         role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
         aws-region: us-east-1


      # ------------------------------
      # Terraform Init
      # ------------------------------
      - name: Terraform Init
        run: |
          rm -rf .terraform
          cd 002-tools_install
          terraform init -reconfigure

      # ------------------------------
      # Terraform Plan
      # ------------------------------
      - name: Terraform Plan
        run: |
          cd 002-tools_install
          terraform plan -target="module.tools[\"${{ github.event.inputs.TOOL }}\"]"

      # -----------------------------------------
      # Terraform Apply or Destroy (param-based)
      # -----------------------------------------
      - name: Terraform Apply/Destroy
        run: |
          cd 002-tools_install
          terraform ${{ github.event.inputs.ACTION }} \
            -target="module.tools[\"${{ github.event.inputs.TOOL }}\"]" \
             -auto-approve
  # Tool-configure:
  #  name: Configuring ${{ github.event.inputs.TOOL }}
  #  runs-on: ubuntu-latest
  #  needs: AWS-EC2-Create
  #  env:
  #       AWS_REGION: 'us-east-1' 
  #  steps:

  #     # ------------------------------
  #     # Checkout repository
  #     # ------------------------------
  #    - name: Checkout code
  #      uses: actions/checkout@v4

  #     # ------------------------------
  #     # Running ansible playbook 
  #     # ------------------------------

    
  #    - name: Run single bash command inline
  #      run: bash 002-tools_install/setup.sh ${{ github.event.inputs.TOOL }}
      
      