name: Terraform + Ansible Pipeline

on:
  workflow_dispatch:
    inputs:
      TOOL:
        description: "Select terraform target tool to install"
        required: true
        type: choice
        options:
          - vault
          - tomcat

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1

    steps:
      - uses: actions/checkout@v4

      # AWS OIDC
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
          aws-region: us-east-1


      # Install Ansible
      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible
          pip install boto3 botocore
          ansible-galaxy collection install amazon.aws

      - name: Debug inventory
        run: |
         
         002-tools_install/ansible/ansible-inventory --graph

      # Run Ansible via SSM
      - name: Run Ansible Playbook ${{ github.event.inputs.TOOL }}
        run: |
           bash 002-tools_install/ansible/setup.sh ${{ github.event.inputs.TOOL }}
